<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.admin.dao.redismq.TaskInfoMapper">

    <select id="getTaskInfoRandom" parameterType="java.util.Map" resultType="com.learn.admin.entity.redismq.TaskInfo">
        SELECT * FROM task_info where type = 1 and state = 1 ORDER BY RAND() LIMIT 1
    </select>
</mapper>